{% extends 'base.html' %}

{% block hero %}
<!-- Carousel Slider -->
 <section class="bt-carousel-slider">
    <div id="" class="carousel slide bt-hero-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/photo-1623607915241-a3151d59a9c8.png" class="d-block w-100 bt-slider-img" alt="Slider">
                <div class="bt-slider-overlay">
                    <div class="container h-100">
                        <div class="h-100 bt-hero-text-wrapper">
                            <p class="bt-hero-text">FANS FROM NEPAL</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}