<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManUtd Nepal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    


    
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"></link>
</head>
<body>

    {% block header %}
        <!-- Header goes here. -->
    {% endblock %}

    {% block hero %}
        <!-- Hero Section goes here -->
    {% endblock %}

    {% block news %}
        <!-- Your Contents of Website. -->
    {% endblock %}

    {% block footer %}
        <!-- Footer goes here. -->
    {% endblock %}

    {% load static %}
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>