{% extends 'base.html' %}

{% block contents %}

    <!-- NAVBAR -->
    <div class="bg-black sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                        <!-- <a class="navbar-brand" href="#">Home</a> -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%; justify-content: center;">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index'%}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'fixture' %}">Fixture</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'news' %}">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>



    <!-- NEWS SECTION -->
    <section class="bt-news bt-section-common">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3 class="bt-news__title bt-section-common-main__title">News</h3>
                    </div>
                </div>
                 <!-- NEWS CONTENT -->
                {% for img in imagecontext %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="card bt-news__card" href="/news/{{img.slug}}">
                        <span class="bt_news__card-tag">Football</span>
                        <img src="{{ img.image.url }}" class="card-img-top" alt="NEWS IMAGE">
                        <div class="card-body bt-news__card-body">
                            <h5 class="card-title bt-news__card-title">{{ img.title }}</h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
                <div class="col-md-12">
                    <nav class="d-flex justify-content-center" aria-label="manutdnepal pagination">
                        <ul class="pagination">
                        {% if imagecontext.has_previous %}
                            <li class="page-item"><a class="page-link" href="/news?page={{imagecontext.previous_page_number}}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                        {% endif %}

                        <!-- Pagination number -->
                            {% for num_page in imagecontext.paginator.page_range %}
                                {% if imagecontext.number == num_page %}
                                    <li class="page-item">
                                        <a class="page-link active" href="{% url 'news' %}?page={{num_page}}">{{num_page}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'news' %}?page={{num_page}}">{{num_page}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <!-- -->

                        {% if imagecontext.has_next %}
                            <li class="page-item"><a class="page-link" href="/news?page={{imagecontext.next_page_number}}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    

    {% comment %} <div class="d-flex flex-wrap">
        {% for img in image %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ img.image }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ img.title }}</h5>
                <a href="/news/{{img.slug}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}        
    </div> {% endcomment %}

{% endblock %}